
@{
    ViewBag.Title = "NotAuthenticated";
}

<br /><br />
<div class="alert alert-danger">
    <h2>Not authenticated</h2>
    Sign in to recognize another user!
</div>
<br />
@Html.ActionLink("Return home", "Index", "Home")

