@{
    ViewBag.Title = "About Recognition Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="pulpitrock.jpg" alt="Centric’s Core Values" width="500" height="377">

<p>In the application, an employee is able to create and update his/her own profile. In order to improve communication and interaction between the employees at Centric, the employee can conveniently search all contact information of Centric’s employees and find additional detail information about other employees in the application.</p>
<p>The recognition is following Centric’s seven Core Values. The employees can easily find their own recognition and provide real time recognition to their peers in a fun way. The peers will be notified when they received the recognition. In addition, the application enables the employees to have the capability of sharing their recognitions to social medias. </p>
