@{
    ViewBag.Title = "Get In Touch";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Centric Corporate<br />
    1215 Lyons Rd Bldg F
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">P:</abbr>
    888-781-7567 <br />
    
</address>

<address>
    <strong>Marketing and PR Inquiries:</strong>   <a href="https://centricconsulting.com/team/misty-walsh/">Misty Walsh</a><br />
    <abbr title="Phone">P:</abbr>
    571-643-6480<br />
    
    <strong>Careers:</strong> <a href="https://centricconsulting.com/join-us/our-recruiting-team/">Meet Our Recruiting Team</a>
</address>