@{
    ViewBag.Title = "Get In Touch";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Centric Corporate<br />
    1020 Dennison Avenue
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    614-205-8112 <br />
    
</address>

<h3>Other Business Units</h3>
<address>
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Boston</td>
                <td>Craig Holbrook</td>
                <td>617-320-6961</td>
            </tr>
            <tr>
                <td>Charlotte</td>
                <td>Anthony (TJ) Felice</td>
                <td>980-298-3032</td>
            </tr>
            <tr>
                <td>Chicago</td>
                <td>Ted Goodman</td>
                <td>312-501-1999</td>
            </tr>
            <tr>
                <td>Cincinnati</td>
                <td>Steve Bernicke</td>
                <td>513-314-0695</td>
            </tr>
            <tr>
                <td>Cleveland</td>
                <td>Joe Smucny</td>
                <td>216-533-3028</td>
            </tr>
            <tr>
                <td>India</td>
                <td>Brian Offenbacher</td>
                <td>614-940-4088</td>
            </tr>
            <tr>
                <td>Indianapolis</td>
                <td>Richard McGee</td>
                <td>317-590-6022</td>
            </tr>
            <tr>
                <td>Louisville</td>
                <td>Dion Dunn</td>
                <td>502-645-2514</td>
            </tr>
            <tr>
                <td>Miami</td>
                <td>Kim Caruthers, PMP, CSM</td>
                <td>754-800-4393</td>
            </tr>
            <tr>
                <td>Seattle</td>
                <td>Ted Goodman</td>
                <td>360-499-6135</td>
            </tr>
            <tr>
                <td>St. Louis</td>
                <td>Jennifer Barnes</td>
                <td>314-800-4574</td>
            </tr>
            <tr>
                <td>Tampa</td>
                <td>Andy Rahman</td>
                <td>813-230-2303</td>
            </tr>
        </tbody>
    </table>
</address>