@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Employee Recognition Tool</h1>
    <p class="lead">Recognize other employees based on the companies core values or view other recognitions that have been made</p>
    <p><a href="" class="btn btn-primary btn-lg">New Recognition &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Recognitions</h2>
        <p>
            View the recognitions that your fellow employees have made. 
        </p>
        <p><a class="btn btn-default" href="">View Recognitions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Employees</h2>
        <p>Look up other employees, see their profiles and how to contact them.</p>
        <p><a class="btn btn-default" href="">Employees &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>Learn about the core values of the firm and what it means to recognize another employee</p>
        <p><a class="btn btn-default" href="">Core Values &raquo;</a></p>
    </div>
</div>